@model ErrorViewModel
@{
    ViewData["Title"] = "505 - Error";
}

@section Stylesheets{
	<link rel="stylesheet" href="~/css/simple_page.css" />
}

<p>
    <h1>Are you feeling frustrated? Error occurred while processing the request.</h1>
</p>

<img width="400px" src="~/images/Error.png" title="MFW I'll be debugging this" alt="Sad Fei portrait"/>
