@{
    ViewData["Title"] = "404 - Page Not Found";
}

@section Stylesheets{
	<link rel="stylesheet" href="~/css/simple_page.css" />
}

<p>
    <h1>What do you think you're doing - this page doens't even exists!</h1>
</p>

<img width="400px" src="~/images/NotFound.png" title="MFW looking at a lowly user who can't navigate a simple website" alt="Elly portrait with closed eyes"/>