@model IEnumerable<XenoBooru.Web.Models.Map>

@{
	ViewData["Title"] = "Maps";
}

@section Stylesheets{
	<link rel="stylesheet" href="~/css/collection_view.css" />
}



@section Sidebar{
	<form class="sidebar-section" id="search"><h4>Search</h4><input class="search-bar" type="text"></form>
	<div class="sidebar-section" id="tags">
		<h4>Tags</h4>
		<ul>
			<li><a href="">tag_1</a>&nbsp;<span>182</span></li>
			<li><a href="">tag_2</a>&nbsp;<span>32</span></li>
			<li><a href="">tag_3</a>&nbsp;<span>45</span></li>
			<li><a href="">tag_4</a>&nbsp;<span>54</span></li>
			<li><a href="">tag_5</a>&nbsp;<span>6</span></li>
			<li><a href="">tag_6</a>&nbsp;<span>3</span></li>
			<li><a href="">tag_7</a>&nbsp;<span>3</span></li>
			<li><a href="">tag_8</a>&nbsp;<span>2</span></li>
			<li><a href="">tag_9</a>&nbsp;<span>1</span></li>
			<li><a href="">tag_10</a>&nbsp;<span>1</span></li>
			<li><a href="">tag_11</a>&nbsp;<span>1</span></li>
			<li><a href="">tag_12</a>&nbsp;<span>1</span></li>
		</ul>
	</div>
}

<ul id="posts">
	@foreach (Map post in Model)
	{
		<li class="post-preview">
			<a asp-controller="Map" asp-action="Show" asp-route-id="@post.Id">POST id is @post.Id</a>
		</li>
	}
</ul>
<div id="paginator">
	<a class="nav-button">PREVIOUS</a>
	<a class="nav-button">1</a>
	<a class="nav-button">2</a>
	<a class="nav-button">3</a>
	<a class="nav-button">NEXT</a>
</div>
