@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: Xenogears;
  src: url("/StaticSite/fonts/Xenogears.woff") format("woff");
}

html {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  height: 100%;
  margin: 0;
}

body {
  background-color: #272626;
  display: -ms-grid;
  display: grid;
  padding: 1em 3em;
  color: #ffffff;
}

ul {
  list-style-type: none;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

a {
  text-decoration: none;
  color: #f84848;
}

a:hover {
  color: #ffcdcd;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

header #title {
  font-size: 1.5em;
  font-family: Xenogears;
}

header #title a {
  color: #ffffff;
}

header #menu-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

header #menu-options li {
  margin: 0 5px;
}

footer {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: footer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

footer .footer-section {
  margin: 0 10px;
}

.nav-button {
  width: 100px;
  margin: 0 30px;
  padding: 3px;
  border-radius: 0;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
}

.nav-button:hover {
  background-color: #f84848;
  cursor: pointer;
}

.nav-button:active {
  background-color: #a10606;
}

body {
      grid-template-areas: "header" "footer";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
  justify-items: center;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  margin-top: 100px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  font-size: 3em;
  font-weight: bold;
}

header h1 span {
  font-style: oblique;
}

footer {
  width: 50%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
