@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: Xenogears;
  src: url("/StaticSite/fonts/Xenogears.woff") format("woff");
}

html {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  height: 100%;
  margin: 0;
}

body {
  background-color: #272626;
  display: -ms-grid;
  display: grid;
  padding: 1em 3em;
  color: #ffffff;
}

ul {
  list-style-type: none;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

a, .link-button {
  text-decoration: none;
  color: #f84848;
}

a:hover, .link-button:hover {
  color: #ffcdcd;
}

.tag-Normal {
  color: #f84848;
}

.tag-Normal:hover {
  color: white;
}

.tag-PostType {
  color: #ffe96c;
}

.tag-PostType:hover {
  color: white;
}

.tag-Location {
  color: #ff3da4;
}

.tag-Location:hover {
  color: white;
}

.tag-Character {
  color: #9bb359;
}

.tag-Character:hover {
  color: #eff3e5;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
}

header #title {
  font-size: 1.5em;
  font-family: Xenogears;
}

header #title a {
  color: #ffffff;
}

header #menu-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

header #menu-options li {
  margin: 0 5px;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

footer .footer-section {
  margin: 0 10px;
}

body {
      grid-template-areas: "header header" "sidebar content" "footer footer";
  -ms-grid-columns: minmax(100px, 1fr) minmax(600px, 4fr);
      grid-template-columns: minmax(100px, 1fr) minmax(600px, 4fr);
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

.sidebar {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: sidebar;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-right: 40px;
  max-width: 500px;
}

.sidebar p {
  margin: 5px 0;
}

.sidebar ul {
  margin: 5px 0;
}

.sidebar-section {
  margin: 10px 0;
}

.sidebar .search-bar {
  width: 100%;
  max-width: 150px;
}

.sidebar #tags {
  line-height: normal;
}

.sidebar #tags .tag-count {
  color: #aaa;
}

#content {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: content;
}

#content #comments {
  margin-bottom: 50px;
}

#content #comments-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#content #comments-post input {
  width: 150px;
}

#content #comments-post textarea {
  width: 40%;
  height: 50px;
  padding: 0;
  font-size: 1.2em;
  margin: 0;
}

#content #comments-post button {
  font-size: 1.1em;
  font-weight: bold;
  width: 80px;
  height: 30px;
}

#content #comments .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 30px;
}

#content #comments .comment-author {
  width: 200px;
}

#content #comments .comment-author h4 {
  font-size: 1.3em;
}

#content #comments .comment-content {
  width: 100%;
  max-width: 600px;
}

.nav-button {
  width: 100px;
  margin: 0 30px;
  padding: 3px;
  border-radius: 0;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
}

.nav-button:hover {
  background-color: #f84848;
  cursor: pointer;
}

.nav-button:active {
  background-color: #a10606;
}

.link-button {
  background-color: transparent;
  text-decoration: none;
  color: #f84848;
  color: turquoise;
}

.link-button:hover {
  color: #ffcdcd;
}

.status-notice {
  background-color: #201f1f;
  border: 2px solid #aaa;
  margin: 1em;
  padding: 1em;
}

#map-navigator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

#map-navigator input {
  width: 40px;
  text-align: center;
}

#render {
  height: 600px;
  border-style: dashed;
  margin-bottom: 20px;
  position: relative;
}

#render-controls {
  position: absolute;
  right: 10px;
  top: 10px;
  border: 3px solid #272626;
  padding: 10px 15px;
  color: #272626;
  background-color: #ffffff;
  min-width: 200px;
}

#render-controls span {
  color: #aaa;
  font-size: 0.9em;
}

#render-controls input:checked {
  background: red;
}

#render-controls ul {
  margin: 0;
}

#render-controls li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#post-artwork {
  max-height: 700px;
}

#post-music {
  width: 50%;
  min-width: 500px;
  max-width: 1000px;
  margin: 50px 0;
}

.link-button {
  padding: 0;
  cursor: pointer;
  font-size: 1em;
  border: none;
  display: inline;
  background-color: transparent;
  text-decoration: none;
  color: #f84848;
}

.link-button:hover {
  color: #ffcdcd;
}

#edit-comment-switch {
  margin: 10px 0;
}

#edit th {
  background-color: #413f3f;
  min-width: 100px;
  max-width: 200px;
  padding: 0 10px;
  text-align: end;
}

#edit p {
  font-weight: normal;
  font-size: 0.9em;
}
