@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: Xenogears;
  src: url("/fonts/Xenogears.woff") format("woff");
}

html {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  height: 100%;
  margin: 0;
}

body {
  background-color: #272626;
  display: -ms-grid;
  display: grid;
  padding: 1em 3em;
  color: #ffffff;
}

ul {
  list-style-type: none;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

a {
  text-decoration: none;
  color: #f84848;
}

a:hover {
  color: #ffcdcd;
}

.tag-Normal {
  color: #f84848;
}

.tag-Normal:hover {
  color: white;
}

.tag-PostType {
  color: #ffe96c;
}

.tag-PostType:hover {
  color: white;
}

.tag-Location {
  color: #ff3da4;
}

.tag-Location:hover {
  color: white;
}

.tag-Character {
  color: #9bb359;
}

.tag-Character:hover {
  color: #eff3e5;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

header #title {
  font-size: 1.5em;
  font-family: Xenogears;
}

header #title a {
  color: #ffffff;
}

header #menu-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

header #menu-options li {
  margin: 0 5px;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

footer .footer-section {
  margin: 0 10px;
}

.nav-button {
  width: 100px;
  margin: 0 30px;
  padding: 3px;
  border-radius: 0;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
}

.nav-button:hover {
  background-color: #f84848;
  cursor: pointer;
}

.nav-button:active {
  background-color: #a10606;
}

.status-notice {
  background-color: #201f1f;
  border: 2px solid #aaa;
  margin: 1em;
  padding: 1em;
}

body {
      grid-template-areas: "header" "content" "footer";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

#content {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: content;
}

table {
  width: 100%;
}

table #posts-col {
  width: 60px;
}

table #type-col {
  width: 200px;
}

table th {
  text-align: left;
}

table td {
  padding: 1px 4px;
  background-color: #413f3f;
}

table tr:nth-child(even) td {
  background-color: #5b5858;
}
