@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: Xenogears;
  src: url("/fonts/Xenogears.woff") format("woff"); }

html {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  height: 100%;
  margin: 0; }

body {
  background-color: #272626;
  display: grid;
  padding: 1em 3em;
  color: #ffffff; }

ul {
  list-style-type: none;
  padding: 0; }

h1, h2, h3, h4, h5 {
  margin: 0; }

a {
  text-decoration: none;
  color: #f84848; }

a:hover {
  color: #ffcdcd; }

header {
  grid-area: header; }
  header #title {
    font-size: 1.5em;
    font-family: Xenogears; }
    header #title a {
      color: #ffffff; }
  header #menu-options {
    display: flex;
    justify-content: flex-start;
    width: max-content; }
    header #menu-options li {
      margin: 0 5px; }

footer {
  grid-area: footer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px; }
  footer .footer-section {
    margin: 0 10px; }

body {
  grid-template-areas: "header header" "sidebar content" "footer footer";
  grid-template-columns: minmax(100px, 1fr) minmax(600px, 4fr);
  grid-template-rows: auto 1fr auto; }

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-right: 40px;
  max-width: 500px; }
  .sidebar p {
    margin: 5px 0; }
  .sidebar ul {
    margin: 5px 0; }
  .sidebar-section {
    margin: 10px 0; }
  .sidebar .search-bar {
    width: 100%;
    max-width: 150px; }
  .sidebar #tags {
    line-height: normal; }
    .sidebar #tags span {
      color: #aaa; }

#content {
  grid-area: content; }
  #content #comments {
    margin-bottom: 50px; }
    #content #comments-post {
      display: flex; }
      #content #comments-post textarea {
        width: 40%;
        height: 50px;
        padding: 0;
        font-size: 1.2em;
        margin: 0; }
      #content #comments-post button {
        width: 100px;
        height: 50px; }
    #content #comments .comment {
      display: flex;
      flex-flow: row;
      justify-content: flex-start;
      margin-bottom: 30px; }
      #content #comments .comment-author {
        width: 200px; }
        #content #comments .comment-author h4 {
          font-size: 1.3em; }
      #content #comments .comment-content {
        width: 100%;
        max-width: 600px; }

.nav-button {
  width: 100px;
  margin: 0 30px;
  padding: 3px;
  border-radius: 0;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff; }

.nav-button:hover {
  background-color: #f84848;
  cursor: pointer; }

.nav-button:active {
  background-color: #a10606; }

#posts {
  display: flex;
  flex-wrap: wrap; }
  #posts .post-preview {
    height: 150px;
    width: 150px;
    border: 1px solid #f84848;
    margin: 2px;
    background-color: #aaa; }

#paginator {
  display: flex;
  justify-content: center;
  margin: 20px;
  text-align: center; }
  #paginator .nav-button {
    width: fit-content;
    margin: 0 5px; }
