@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: Xenogears;
  src: url("/fonts/Xenogears.woff") format("woff"); }

html {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  height: 100%;
  margin: 0; }

ul {
  list-style-type: none;
  padding: 0; }

h1, h2, h3, h4, h5 {
  margin: 0; }

.annotation {
  font-size: 0.9em;
  color: #aaa; }

a, .link-button {
  text-decoration: none;
  color: #f84848; }
  a:hover, .link-button:hover {
    color: #ffcdcd; }

.tag-Normal {
  color: #f84848; }

a.tag-Normal:hover {
  color: white; }

.tag-PostType {
  color: #ffe96c; }

a.tag-PostType:hover {
  color: white; }

.tag-Location {
  color: #ff3da4; }

a.tag-Location:hover {
  color: white; }

.tag-Character {
  color: #9bb359; }

a.tag-Character:hover {
  color: #eff3e5; }

.tag-NotFound {
  color: #adadad; }

body {
  background-color: #272626;
  padding: 1em 3em;
  color: #ffffff;
  display: grid;
  grid-template-areas: "header" "notices" "content" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto; }

header {
  grid-area: header; }
  header #title {
    font-size: 1.5em;
    font-family: Xenogears; }
    header #title a {
      color: #ffffff; }
    header #title h2 {
      font-size: 1.3em;
      line-height: 0.5; }
    header #title #alpha {
      font-size: 1.3em; }
  header #menu-options {
    display: flex;
    justify-content: flex-start;
    width: max-content; }
    header #menu-options li {
      margin: 0 5px; }

#notices {
  grid-area: notices; }

#content {
  grid-area: content; }

footer {
  grid-area: footer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px; }
  footer .footer-section {
    margin: 0 10px; }
  footer img {
    height: 32px;
    vertical-align: middle; }

body {
  grid-template-areas: "header header" "notices notices" "sidebar content" "footer footer";
  grid-template-columns: minmax(100px, 1fr) minmax(500px, 4fr);
  grid-template-rows: auto 1fr auto; }

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-right: 40px;
  max-width: 500px; }
  .sidebar p {
    margin: 5px 0; }
  .sidebar ul {
    margin: 5px 0; }
  .sidebar-section {
    margin: 10px 0; }
  .sidebar .search-bar {
    width: 100%;
    max-width: 150px; }
  .sidebar #tags {
    line-height: normal; }
    .sidebar #tags .tag-count {
      color: #aaa; }

#content {
  grid-area: content; }
  #content #comments {
    margin-bottom: 50px; }
    #content #comments-post {
      display: flex;
      flex-direction: column; }
      #content #comments-post input {
        width: 150px; }
      #content #comments-post textarea {
        width: 40%;
        height: 50px;
        padding: 0;
        font-size: 1.2em;
        margin: 0; }
      #content #comments-post button {
        font-size: 1.1em;
        font-weight: bold;
        width: 80px;
        height: 30px; }
    #content #comments .comment {
      display: flex;
      flex-flow: row;
      justify-content: flex-start;
      margin-bottom: 30px; }
      #content #comments .comment-author {
        width: 200px; }
        #content #comments .comment-author h4 {
          font-size: 1.3em; }
      #content #comments .comment-content {
        width: 100%;
        max-width: 600px; }

.nav-button {
  width: 100px;
  margin: 0 30px;
  padding: 3px;
  border-radius: 0;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff; }

.nav-button:hover {
  background-color: #f84848;
  cursor: pointer; }

.nav-button:active {
  background-color: #a10606; }

.link-button {
  background-color: transparent;
  text-decoration: none;
  color: #f84848;
  color: turquoise; }
  .link-button:hover {
    color: #ffcdcd; }

.status-notice {
  background-color: #121010;
  border: 1px solid #aaa;
  margin: 0.8em;
  padding: 0.7em; }

.link-button {
  padding: 0;
  cursor: pointer;
  font-size: 1em;
  border: none;
  display: inline;
  background-color: transparent;
  text-decoration: none;
  color: #f84848; }
  .link-button:hover {
    color: #ffcdcd; }

.form-table th {
  background-color: #413f3f;
  min-width: 100px;
  max-width: 200px;
  padding: 0 10px;
  text-align: end; }

.form-table p {
  font-weight: normal;
  font-size: 0.9em; }

.list-table {
  width: 100%; }
  .list-table th {
    text-align: left; }
  .list-table td {
    padding: 1px 4px;
    background-color: #413f3f; }
  .list-table tr:nth-child(even) td {
    background-color: #5b5858; }

#posts {
  display: flex;
  flex-wrap: wrap; }
  #posts img {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  #posts .post-preview {
    margin: 4px;
    height: 150px;
    width: 150px;
    box-sizing: border-box; }
    #posts .post-preview:focus, #posts .post-preview:hover {
      border: 3px solid #d0423f; }
      #posts .post-preview:focus img, #posts .post-preview:hover img {
        border: none; }

.highlighted-post {
  border: 3px solid #d0423f; }
  .highlighted-post img {
    border: none; }

.liked {
  border: 3px solid #ffd800; }

.pending {
  filter: grayscale(90%) opacity(50%); }

#paginator {
  display: flex;
  justify-content: center;
  margin: 20px;
  text-align: center; }
  #paginator .nav-button {
    margin: 0 5px; }

/*# sourceMappingURL=data:application/json;base64,ewoJInZlcnNpb24iOiAzLAoJImZpbGUiOiAid3d3cm9vdC9zY3NzL3Bvc3RfaW5kZXguY3NzIiwKCSJzb3VyY2VzIjogWwoJCSJ3d3dyb290L3Njc3MvcG9zdF9pbmRleC5zY3NzIiwKCQkid3d3cm9vdC9zY3NzL19tYWluLnNjc3MiLAoJCSJ3d3dyb290L3Njc3MvX3Bvc3Rfdmlldy5zY3NzIiwKCQkid3d3cm9vdC9zY3NzL19jbGFzc2VzLnNjc3MiCgldLAoJIm5hbWVzIjogW10sCgkibWFwcGluZ3MiOiAiQUNBQSxPQUFPLENBQUMsbUVBQUk7QUFFWixVQUFVO0VBQ1QsV0FBVyxFQUFFLFNBQVM7RUFDdEIsR0FBRyxFQUFFLDRCQUE0QixDQUFDLGNBQWM7O0FBaUJqRCxBQUFBLElBQUksQ0FBQTtFQUNILFdBQVcsRUFBQyxzQ0FBc0M7RUFDbEQsU0FBUyxFQUFFLEtBQUs7RUFDaEIsTUFBTSxFQUFFLElBQUk7RUFDWixNQUFNLEVBQUUsQ0FBQyxHQUVUOztBQU1ELEFBQUEsRUFBRSxDQUFDO0VBQ0YsZUFBZSxFQUFFLElBQUk7RUFDckIsT0FBTyxFQUFFLENBQUMsR0FDVjs7QUFFRCxBQUFBLEVBQUUsRUFBRSxBQUFBLEVBQUUsRUFBQyxBQUFBLEVBQUUsRUFBQyxBQUFBLEVBQUUsRUFBRSxBQUFBLEVBQUUsQ0FBQTtFQUNmLE1BQU0sRUFBRSxDQUFDLEdBRVQ7O0FBRUQsQUFBQSxXQUFXLENBQUM7RUFDWCxTQUFTLEVBQUUsS0FBSztFQUNoQixLQUFLLEVBbENZLElBQUksR0FtQ3JCOztBQUVELEFBQUEsQ0FBQyxFQUFFLEFBQUEsWUFBWSxDQUFBO0VBQ2QsZUFBZSxFQUFFLElBQUk7RUFDckIsS0FBSyxFQTFDTyxPQUFPLEdBK0NuQjtFQVBELEFBSUMsQ0FKQSxBQUlELE1BQVEsRUFKTCxBQUlGLFlBSmMsQUFJZixNQUFRLENBQUE7SUFDTixLQUFLLEVBNUNZLE9BQU8sR0E2Q3hCOztBQUlGLEFBQUEsV0FBVyxDQUFBO0VBQ1YsS0FBSyxFQW5ETyxPQUFPLEdBb0RuQjs7QUFFRCxBQUFBLENBQUMsQUFBQSxXQUFXLEFBQUEsTUFBTSxDQUFDO0VBQ2xCLEtBQUssRUFBRSxLQUE4QyxHQUNyRDs7QUFFRCxBQUFBLGFBQWEsQ0FBQztFQUNiLEtBQUssRUFwRGdCLE9BQU8sR0FxRDVCOztBQUNELEFBQUEsQ0FBQyxBQUFBLGFBQWEsQUFBQSxNQUFNLENBQUM7RUFDcEIsS0FBSyxFQUFFLEtBQWlELEdBQ3hEOztBQUVELEFBQUEsYUFBYSxDQUFBO0VBQ1osS0FBSyxFQXpEZSxPQUFPLEdBMEQzQjs7QUFFRCxBQUFBLENBQUMsQUFBQSxhQUFhLEFBQUEsTUFBTSxDQUFDO0VBQ3BCLEtBQUssRUFBRSxLQUFnRCxHQUN2RDs7QUFFRCxBQUFBLGNBQWMsQ0FBQTtFQUNiLEtBQUssRUFsRWdCLE9BQU8sR0FtRTVCOztBQUVELEFBQUEsQ0FBQyxBQUFBLGNBQWMsQUFBQSxNQUFNLENBQUM7RUFDckIsS0FBSyxFQUFFLE9BQWlELEdBQ3hEOztBQUVELEFBQUEsYUFBYSxDQUFDO0VBQ2IsS0FBSyxFQXhFZ0IsT0FBTyxHQXlFNUI7O0FBR0QsQUFBQSxJQUFJLENBQUM7RUFDSixnQkFBZ0IsRUFyRkUsT0FBTztFQXNGekIsT0FBTyxFQUFFLE9BQU87RUFDaEIsS0FBSyxFQTFGWSxPQUFPO0VBMkZ4QixPQUFPLEVBQUUsSUFBSTtFQUNiLG1CQUFtQixFQUFFLHFDQUFxQztFQUMxRCxxQkFBcUIsRUFBRSxHQUFHO0VBQzFCLGtCQUFrQixFQUFFLGFBQWEsR0FDakM7O0FBRUQsQUFBQSxNQUFNLENBQUM7RUFDTixTQUFTLEVBQUUsTUFBTSxHQW9DakI7RUFyQ0QsQUFJQyxNQUpLLENBSUwsTUFBTSxDQUFDO0lBQ04sU0FBUyxFQUFFLEtBQUs7SUFDaEIsV0FBVyxFQUFFLFNBQVMsR0FjdEI7SUFwQkYsQUFRRSxNQVJJLENBSUwsTUFBTSxDQUlMLENBQUMsQ0FBQztNQUNELEtBQUssRUExR1UsT0FBTyxHQTJHdEI7SUFWSCxBQVlFLE1BWkksQ0FJTCxNQUFNLENBUUwsRUFBRSxDQUFBO01BQ0QsU0FBUyxFQUFFLEtBQUs7TUFDaEIsV0FBVyxFQUFFLEdBQUcsR0FDaEI7SUFmSCxBQWlCRSxNQWpCSSxDQUlMLE1BQU0sQ0FhTCxNQUFNLENBQUE7TUFDTCxTQUFTLEVBQUMsS0FBSyxHQUNmO0VBbkJILEFBdUJDLE1BdkJLLENBMEJKLGFBQVMsQ0FBQztJQUVULE9BQU8sRUFBRSxJQUFJO0lBQ2IsZUFBZSxFQUFFLFVBQVU7SUFDM0IsS0FBSyxFQUFFLFdBQVcsR0FLbEI7SUFuQ0gsQUFnQ0csTUFoQ0csQ0EwQkosYUFBUyxDQU1SLEVBQUUsQ0FBQztNQUNGLE1BQU0sRUFBRSxLQUFLLEdBQ2I7O0FBS0osQUFBQSxRQUFRLENBQUM7RUFDUixTQUFTLEVBQUUsT0FBTyxHQUNsQjs7QUFFRCxBQUFBLFFBQVEsQ0FBQztFQUNSLFNBQVMsRUFBRSxPQUFPLEdBQ2xCOztBQUVELEFBQUEsTUFBTSxDQUFBO0VBQ0wsU0FBUyxFQUFFLE1BQU07RUFDakIsT0FBTyxFQUFFLElBQUk7RUFDYixlQUFlLEVBQUUsWUFBWTtFQUM3QixXQUFXLEVBQUUsTUFBTTtFQUNoQixVQUFVLEVBQUUsSUFBSSxHQVduQjtFQWhCRCxBQU9JLE1BUEUsQ0FPRixlQUFlLENBQUE7SUFDWCxNQUFNLEVBQUUsTUFBTSxHQUNqQjtFQVRMLEFBV0MsTUFYSyxDQVdMLEdBQUcsQ0FBQTtJQUNGLE1BQU0sRUFBRSxJQUFJO0lBQ1osY0FBYyxFQUFDLE1BQU0sR0FDckI7O0FDcEtGLEFBQUEsSUFBSSxDQUFBO0VBQ0EsbUJBQW1CLEVBQ3RCLHNFQUdlO0VBRWYscUJBQXFCLEVBQUUsa0JBQWtCLENBQUMsa0JBQWlCO0VBQ3hELGtCQUFrQixFQUFFLGFBQWEsR0FDcEM7O0FBRUQsQUFBQSxRQUFRLENBQUM7RUFDUixTQUFTLEVBQUUsT0FBTztFQUdsQixPQUFPLEVBQUUsSUFBSTtFQUNiLGNBQWMsRUFBRSxNQUFNO0VBQ3RCLGVBQWUsRUFBRSxVQUFVO0VBQzNCLFdBQVcsRUFBRSxPQUFPO0VBQ3BCLFlBQVksRUFBRSxJQUFJO0VBQ2xCLFNBQVMsRUFBRSxLQUFLLEdBNEJoQjtFQXJDRCxBQVdDLFFBWE8sQ0FXUCxDQUFDLENBQUM7SUFDRCxNQUFNLEVBQUUsS0FBSyxHQUNiO0VBYkYsQUFlQyxRQWZPLENBZVAsRUFBRSxDQUFDO0lBQ0YsTUFBTSxFQUFFLEtBQUssR0FDYjtFQUVELEFBQUEsZ0JBQVMsQ0FBQztJQUNULE1BQU0sRUFBRSxNQUFNLEdBQ2Q7RUFyQkYsQUF3QkMsUUF4Qk8sQ0F3QlAsV0FBVyxDQUFDO0lBQ1gsS0FBSyxFQUFFLElBQUk7SUFDWCxTQUFTLEVBQUUsS0FBSyxHQUNoQjtFQTNCRixBQTZCQyxRQTdCTyxDQTZCUCxLQUFLLENBQUM7SUFFTCxXQUFXLEVBQUUsTUFBTSxHQUtuQjtJQXBDRixBQWlDRSxRQWpDTSxDQTZCUCxLQUFLLENBSUosVUFBVSxDQUFDO01BQ1YsS0FBSyxFRG5DVSxJQUFJLEdDb0NuQjs7QUFLSCxBQUFBLFFBQVEsQ0FBQTtFQUNQLFNBQVMsRUFBRSxPQUFPLEdBOERsQjtFQS9ERCxBQUtDLFFBTE8sQ0FLUCxTQUFTLENBQUE7SUFFUixhQUFhLEVBQUUsSUFBSSxHQXNEbkI7SUE3REYsQUFLQyxRQUxPLENBU04sY0FBTSxDQUFBO01BQ0wsT0FBTyxFQUFFLElBQUk7TUFDYixjQUFjLEVBQUUsTUFBTSxHQXdCdEI7TUFuQ0gsQUFhRyxRQWJLLENBU04sY0FBTSxDQUlMLEtBQUssQ0FBQTtRQUNKLEtBQUssRUFBRSxLQUFLLEdBQ1o7TUFmSixBQWlCRyxRQWpCSyxDQVNOLGNBQU0sQ0FRTCxRQUFRLENBQUE7UUFFUCxLQUFLLEVBQUUsR0FBRztRQUNWLE1BQU0sRUFBRSxJQUFJO1FBQ1osT0FBTyxFQUFFLENBQUM7UUFFVixTQUFTLEVBQUUsS0FBSztRQUVoQixNQUFNLEVBQUUsQ0FBQyxHQUVUO01BM0JKLEFBNEJHLFFBNUJLLENBU04sY0FBTSxDQW1CTCxNQUFNLENBQUE7UUFDTCxTQUFTLEVBQUUsS0FBSztRQUNoQixXQUFXLEVBQUUsSUFBSTtRQUNqQixLQUFLLEVBQUUsSUFBSTtRQUNYLE1BQU0sRUFBRSxJQUFJLEdBRVo7SUFsQ0osQUFxQ0UsUUFyQ00sQ0FLUCxTQUFTLENBZ0NSLFFBQVEsQ0FBQTtNQUVQLE9BQU8sRUFBRSxJQUFJO01BQ2IsU0FBUyxFQUFFLEdBQUc7TUFDZCxlQUFlLEVBQUUsVUFBVTtNQUczQixhQUFhLEVBQUUsSUFBSSxHQWdCbkI7TUE1REgsQUFxQ0UsUUFyQ00sQ0FLUCxTQUFTLENBeUNQLGVBQVEsQ0FBQTtRQUNQLEtBQUssRUFBRSxLQUFLLEdBTVo7UUFyREosQUFpREksUUFqREksQ0FLUCxTQUFTLENBeUNQLGVBQVEsQ0FHUCxFQUFFLENBQUE7VUFDRCxTQUFTLEVBQUUsS0FBSyxHQUNoQjtNQW5ETCxBQXFDRSxRQXJDTSxDQUtQLFNBQVMsQ0FrRFAsZ0JBQVMsQ0FBQTtRQUNSLEtBQUssRUFBRSxJQUFJO1FBQ1gsU0FBUyxFQUFFLEtBQUssR0FFaEI7O0FDMUdKLEFBQUEsV0FBVyxDQUFBO0VBQ1AsS0FBSyxFQUFFLEtBQUs7RUFDWixNQUFNLEVBQUUsTUFBTTtFQUNkLE9BQU8sRUFBRSxHQUFHO0VBQ1osYUFBYSxFQUFFLENBQUM7RUFDaEIsS0FBSyxFRkhTLE9BQU87RUVJckIsZ0JBQWdCLEVBQUUsV0FBVztFQUM3QixNQUFNLEVBQUUsR0FBRyxDQUFDLEtBQUssQ0ZMSCxPQUFPLEdFT3hCOztBQUVELEFBQUEsV0FBVyxBQUFBLE1BQU0sQ0FBQTtFQUNiLGdCQUFnQixFRlRQLE9BQU87RUVVaEIsTUFBTSxFQUFFLE9BQU8sR0FDbEI7O0FBRUQsQUFBQSxXQUFXLEFBQUEsT0FBTyxDQUFBO0VBQ2QsZ0JBQWdCLEVBQUUsT0FBd0IsR0FDN0M7O0FBRUQsQUFBQSxZQUFZLENBQUE7RUFDUixnQkFBZ0IsRUFBRSxXQUFXO0VBQ2hDLGVBQWUsRUFBRSxJQUFJO0VBQ3JCLEtBQUssRUZwQk8sT0FBTztFRXFCaEIsS0FBSyxFQUFFLFNBQVMsR0FLbkI7RUFURCxBQU1DLFlBTlcsQUFNWCxNQUFPLENBQUE7SUFDTixLQUFLLEVGdkJZLE9BQU8sR0V3QnhCOztBQUdGLEFBQUEsY0FBYyxDQUFDO0VBQ1gsZ0JBQWdCLEVGekJQLE9BQU87RUUwQmhCLE1BQU0sRUFBRSxHQUFHLENBQUMsS0FBSyxDRjNCSCxJQUFJO0VFNEJsQixNQUFNLEVBQUUsS0FBSztFQUNiLE9BQU8sRUFBRSxLQUFLLEdBQ2pCOztBQUVELEFBQUEsWUFBWSxDQUFDO0VBQ1QsT0FBTyxFQUFFLENBQUM7RUFDVixNQUFNLEVBQUUsT0FBTztFQUNmLFNBQVMsRUFBRSxHQUFHO0VBQ2QsTUFBTSxFQUFFLElBQUk7RUFDWixPQUFPLEVBQUUsTUFBTTtFQUNmLGdCQUFnQixFQUFFLFdBQVc7RUFDN0IsZUFBZSxFQUFFLElBQUk7RUFDckIsS0FBSyxFRjNDSSxPQUFPLEdFZ0RuQjtFQWJELEFBVUksWUFWUSxBQVVSLE1BQU8sQ0FBQztJQUNKLEtBQUssRUY3Q00sT0FBTyxHRThDckI7O0FBR0wsQUFDSSxXQURPLENBQ1AsRUFBRSxDQUFDO0VBQ0MsZ0JBQWdCLEVBQUUsT0FBK0I7RUFDakQsU0FBUyxFQUFFLEtBQUs7RUFDaEIsU0FBUyxFQUFFLEtBQUs7RUFDaEIsT0FBTyxFQUFFLE1BQU07RUFDZixVQUFVLEVBQUUsR0FBRyxHQUNsQjs7QUFQTCxBQVNJLFdBVE8sQ0FTUCxDQUFDLENBQUM7RUFDRSxXQUFXLEVBQUUsTUFBTTtFQUNuQixTQUFTLEVBQUUsS0FBSyxHQUNuQjs7QUFHTCxBQUFBLFdBQVcsQ0FBQztFQUNSLEtBQUssRUFBRSxJQUFJLEdBZWQ7RUFoQkQsQUFJSSxXQUpPLENBSVAsRUFBRSxDQUFDO0lBQ0MsVUFBVSxFQUFFLElBQUksR0FDbkI7RUFOTCxBQVFJLFdBUk8sQ0FRUCxFQUFFLENBQUM7SUFDQyxPQUFPLEVBQUUsT0FBTztJQUNoQixnQkFBZ0IsRUFBRSxPQUErQixHQUNwRDtFQVhMLEFBYXVCLFdBYlosQ0FhUCxFQUFFLEFBQUEsVUFBVyxDQUFBLEFBQUEsSUFBSSxFQUFFLEVBQUUsQ0FBQztJQUNsQixnQkFBZ0IsRUFBRSxPQUErQixHQUNwRDs7QUg5RUwsQUFBQSxNQUFNLENBQUM7RUFDSCxPQUFPLEVBQUUsSUFBSTtFQUNiLFNBQVMsRUFBRSxJQUFJLEdBeUJsQjtFQTNCRCxBQUlJLE1BSkUsQ0FJRixHQUFHLENBQUM7SUFFQSxVQUFVLEVBQUUsVUFBVTtJQUN0QixLQUFLLEVBQUUsSUFBSTtJQUNYLE1BQU0sRUFBRSxJQUFJO0lBQ1osVUFBVSxFQUFFLEtBQUssR0FDcEI7RUFWTCxBQVlJLE1BWkUsQ0FZRixhQUFhLENBQUM7SUFDVixNQUFNLEVBQUUsR0FBRztJQUNYLE1BQU0sRUFBRSxLQUFLO0lBQ2IsS0FBSyxFQUFFLEtBQUs7SUFDWixVQUFVLEVBQUUsVUFBVSxHQVV6QjtJQTFCTCxBQVlJLE1BWkUsQ0FZRixhQUFhLEFBTVQsTUFBTyxFQWxCZixBQVlJLE1BWkUsQ0FZRixhQUFhLEFBT1QsTUFBTyxDQUFDO01BQ0osTUFBTSxFQXRCVyxHQUFHLENBc0JnQixLQUFLLENBeEJ0QyxPQUFPLEdBNkJiO01BekJULEFBc0JZLE1BdEJOLENBWUYsYUFBYSxBQU1ULE1BQU8sQ0FJSCxHQUFHLEVBdEJmLEFBc0JZLE1BdEJOLENBWUYsYUFBYSxBQU9ULE1BQU8sQ0FHSCxHQUFHLENBQUM7UUFDQSxNQUFNLEVBQUUsSUFBSSxHQUNmOztBQUtiLEFBQUEsaUJBQWlCLENBQUM7RUFDZCxNQUFNLEVBaENtQixHQUFHLENBZ0NRLEtBQUssQ0FsQzlCLE9BQU8sR0F1Q3JCO0VBTkQsQUFHSSxpQkFIYSxDQUdiLEdBQUcsQ0FBQztJQUNBLE1BQU0sRUFBRSxJQUFJLEdBQ2Y7O0FBR0wsQUFBQSxNQUFNLENBQUM7RUFDSCxNQUFNLEVBeENtQixHQUFHLENBd0NRLEtBQUssQ0EzQy9CLE9BQU8sR0E0Q3BCOztBQUVELEFBQUEsUUFBUSxDQUFDO0VBQ0wsTUFBTSxFQUFFLGNBQWMsQ0FBQyxZQUFZLEdBQ3RDOztBQUlELEFBQUEsVUFBVSxDQUFBO0VBQ04sT0FBTyxFQUFFLElBQUk7RUFFYixlQUFlLEVBQUUsTUFBTTtFQUN2QixNQUFNLEVBQUUsSUFBSTtFQUNaLFVBQVUsRUFBRSxNQUFNLEdBS3JCO0VBVkQsQUFPSSxVQVBNLENBT04sV0FBVyxDQUFBO0lBQ1AsTUFBTSxFQUFFLEtBQUssR0FDaEIiCn0= */