@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: Xenogears;
  src: url("/fonts/Xenogears.woff") format("woff"); }

html {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  height: 100%;
  margin: 0; }

ul {
  list-style-type: none;
  padding: 0; }

h1, h2, h3, h4, h5 {
  margin: 0; }

.annotation {
  font-size: 0.9em;
  color: #aaa; }

a, .link-button {
  text-decoration: none;
  color: #f84848; }
  a:hover, .link-button:hover {
    color: #ffcdcd; }

.tag-Normal {
  color: #f84848; }

a.tag-Normal:hover {
  color: white; }

.tag-PostType {
  color: #ffe96c; }

a.tag-PostType:hover {
  color: white; }

.tag-Location {
  color: #ff3da4; }

a.tag-Location:hover {
  color: white; }

.tag-Character {
  color: #9bb359; }

a.tag-Character:hover {
  color: #eff3e5; }

.tag-NotFound {
  color: #adadad; }

body {
  background-color: #272626;
  padding: 1em 3em;
  color: #ffffff;
  display: grid;
  grid-template-areas: "header" "notices" "content" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto; }

header {
  grid-area: header; }
  header #title {
    font-size: 1.5em;
    font-family: Xenogears; }
    header #title a {
      color: #ffffff; }
  header #menu-options {
    display: flex;
    justify-content: flex-start;
    width: max-content; }
    header #menu-options li {
      margin: 0 5px; }

#notices {
  grid-area: notices; }

#content {
  grid-area: content; }

footer {
  grid-area: footer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px; }
  footer .footer-section {
    margin: 0 10px; }
  footer img {
    height: 32px;
    vertical-align: middle; }

.nav-button {
  width: 100px;
  margin: 0 30px;
  padding: 3px;
  border-radius: 0;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff; }

.nav-button:hover {
  background-color: #f84848;
  cursor: pointer; }

.nav-button:active {
  background-color: #a10606; }

.link-button {
  background-color: transparent;
  text-decoration: none;
  color: #f84848;
  color: turquoise; }
  .link-button:hover {
    color: #ffcdcd; }

.status-notice {
  background-color: #121010;
  border: 1px solid #aaa;
  margin: 0.8em;
  padding: 0.7em; }

.link-button {
  padding: 0;
  cursor: pointer;
  font-size: 1em;
  border: none;
  display: inline;
  background-color: transparent;
  text-decoration: none;
  color: #f84848; }
  .link-button:hover {
    color: #ffcdcd; }

.form-table th {
  background-color: #413f3f;
  min-width: 100px;
  max-width: 200px;
  padding: 0 10px;
  text-align: end; }

.form-table p {
  font-weight: normal;
  font-size: 0.9em; }

.list-table {
  width: 100%; }
  .list-table th {
    text-align: left; }
  .list-table td {
    padding: 1px 4px;
    background-color: #413f3f; }
  .list-table tr:nth-child(even) td {
    background-color: #5b5858; }

.tag-input-Normal {
  color: #b60000; }

.tag-input-PostType {
  color: #934b00; }

.tag-input-Location {
  color: #a000a0; }

.tag-input-Character {
  color: #2b8d00; }

.tag-input-NotFound {
  color: #313131; }

#tag-input {
  resize: none; }

.tag-input-container {
  position: relative;
  padding: 0; }

#tag-input-styled,
#tag-input {
  display: block;
  width: 300px;
  height: 200px;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 17px;
  border: 0; }

#tag-input {
  color: transparent;
  caret-color: black; }

#tag-input-styled {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  pointer-events: none;
  word-wrap: break-word; }

#upload input {
  width: 300px; }

#upload #tag-input-styled,
#upload #tag-input {
  width: 500px; }
