@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: Xenogears;
  src: url("/fonts/Xenogears.woff") format("woff"); }

html {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  height: 100%;
  margin: 0; }

ul {
  list-style-type: none;
  padding: 0; }

h1, h2, h3, h4, h5 {
  margin: 0; }

.annotation {
  font-size: 0.9em;
  color: #aaa; }

a, .link-button {
  text-decoration: none;
  color: #f84848; }
  a:hover, .link-button:hover {
    color: #ffcdcd; }

.tag-Normal {
  color: #f84848; }

a.tag-Normal:hover {
  color: white; }

.tag-PostType {
  color: #ffe96c; }

a.tag-PostType:hover {
  color: white; }

.tag-Location {
  color: #ff3da4; }

a.tag-Location:hover {
  color: white; }

.tag-Character {
  color: #9bb359; }

a.tag-Character:hover {
  color: #eff3e5; }

.tag-NotFound {
  color: #adadad; }

body {
  background-color: #272626;
  padding: 1em 3em;
  color: #ffffff;
  display: grid;
  grid-template-areas: "header" "notices" "content" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto; }

header {
  grid-area: header; }
  header #title {
    font-size: 1.5em;
    font-family: Xenogears; }
    header #title a {
      color: #ffffff; }
    header #title h2 {
      font-size: 1.3em;
      line-height: 0.5; }
    header #title #alpha {
      font-size: 1.3em; }
  header #menu-options {
    display: flex;
    justify-content: flex-start;
    width: max-content; }
    header #menu-options li {
      margin: 0 5px; }

#notices {
  grid-area: notices; }

#content {
  grid-area: content; }

footer {
  grid-area: footer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px; }
  footer .footer-section {
    margin: 0 10px; }
  footer img {
    height: 32px;
    vertical-align: middle; }

.link-button {
  background-color: transparent;
  text-decoration: none;
  color: #f84848;
  color: turquoise; }
  .link-button:hover {
    color: #ffcdcd; }

.status-notice {
  background-color: #121010;
  border: 1px solid #aaa;
  margin: 0.8em;
  padding: 0.7em; }

.link-button {
  padding: 0;
  cursor: pointer;
  font-size: 1em;
  border: none;
  display: inline;
  background-color: transparent;
  text-decoration: none;
  color: #f84848; }
  .link-button:hover {
    color: #ffcdcd; }

.form-table th {
  background-color: #413f3f;
  min-width: 100px;
  max-width: 200px;
  padding: 0 10px;
  text-align: end; }

.form-table p {
  font-weight: normal;
  font-size: 0.9em; }

.list-table {
  width: 100%; }
  .list-table th {
    text-align: left; }
  .list-table td {
    padding: 1px 4px;
    background-color: #413f3f; }
  .list-table tr:nth-child(even) td {
    background-color: #5b5858; }

.tag-input-Normal {
  color: #b60000; }

.tag-input-PostType {
  color: #934b00; }

.tag-input-Location {
  color: #a000a0; }

.tag-input-Character {
  color: #2b8d00; }

.tag-input-NotFound {
  color: #313131; }

#tag-input {
  resize: none; }

.tag-input-container {
  position: relative;
  padding: 0; }

#tag-input-styled,
#tag-input {
  display: block;
  width: 300px;
  height: 200px;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 17px;
  border: 0; }

#tag-input {
  color: transparent;
  caret-color: black; }

#tag-input-styled {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  pointer-events: none;
  word-wrap: break-word; }

#upload input {
  width: 300px; }

#upload #tag-input-styled,
#upload #tag-input {
  width: 500px; }

/*# sourceMappingURL=data:application/json;base64,ewoJInZlcnNpb24iOiAzLAoJImZpbGUiOiAid3d3cm9vdC9zY3NzL3Bvc3RfdXBsb2FkLmNzcyIsCgkic291cmNlcyI6IFsKCQkid3d3cm9vdC9zY3NzL3Bvc3RfdXBsb2FkLnNjc3MiLAoJCSJ3d3dyb290L3Njc3MvX21haW4uc2NzcyIsCgkJInd3d3Jvb3Qvc2Nzcy9fY2xhc3Nlcy5zY3NzIiwKCQkid3d3cm9vdC9zY3NzL190YWdfaGlnaGxpZ2h0LnNjc3MiCgldLAoJIm5hbWVzIjogW10sCgkibWFwcGluZ3MiOiAiQUNBQSxPQUFPLENBQUMsbUVBQUk7QUFFWixVQUFVO0VBQ1QsV0FBVyxFQUFFLFNBQVM7RUFDdEIsR0FBRyxFQUFDLDRCQUE0QixDQUFDLGNBQWM7O0FBa0JoRCxBQUFBLElBQUksQ0FBQTtFQUNILFdBQVcsRUFBQyxzQ0FBc0M7RUFDbEQsU0FBUyxFQUFFLEtBQUs7RUFDaEIsTUFBTSxFQUFFLElBQUk7RUFDWixNQUFNLEVBQUUsQ0FBQyxHQUVUOztBQU1ELEFBQUEsRUFBRSxDQUFDO0VBQ0YsZUFBZSxFQUFFLElBQUk7RUFDckIsT0FBTyxFQUFFLENBQUMsR0FDVjs7QUFFRCxBQUFBLEVBQUUsRUFBRSxBQUFBLEVBQUUsRUFBQyxBQUFBLEVBQUUsRUFBQyxBQUFBLEVBQUUsRUFBRSxBQUFBLEVBQUUsQ0FBQTtFQUNmLE1BQU0sRUFBRSxDQUFDLEdBRVQ7O0FBRUQsQUFBQSxXQUFXLENBQUM7RUFDWCxTQUFTLEVBQUUsS0FBSztFQUNoQixLQUFLLEVBbkNZLElBQUksR0FvQ3JCOztBQUVELEFBQUEsQ0FBQyxFQUFFLEFBQUEsWUFBWSxDQUFBO0VBQ2QsZUFBZSxFQUFFLElBQUk7RUFDckIsS0FBSyxFQTNDTyxPQUFPLEdBZ0RuQjtFQVBELEFBSUMsQ0FKQSxBQUlELE1BQVEsRUFKTCxBQUlGLFlBSmMsQUFJZixNQUFRLENBQUE7SUFDTixLQUFLLEVBN0NZLE9BQU8sR0E4Q3hCOztBQUlGLEFBQUEsV0FBVyxDQUFBO0VBQ1YsS0FBSyxFQXBETyxPQUFPLEdBcURuQjs7QUFFRCxBQUFBLENBQUMsQUFBQSxXQUFXLEFBQUEsTUFBTSxDQUFDO0VBQ2xCLEtBQUssRUFBRSxLQUE4QyxHQUNyRDs7QUFFRCxBQUFBLGFBQWEsQ0FBQztFQUNiLEtBQUssRUFwRGdCLE9BQU8sR0FxRDVCOztBQUNELEFBQUEsQ0FBQyxBQUFBLGFBQWEsQUFBQSxNQUFNLENBQUM7RUFDcEIsS0FBSyxFQUFFLEtBQWlELEdBQ3hEOztBQUVELEFBQUEsYUFBYSxDQUFBO0VBQ1osS0FBSyxFQXpEZSxPQUFPLEdBMEQzQjs7QUFFRCxBQUFBLENBQUMsQUFBQSxhQUFhLEFBQUEsTUFBTSxDQUFDO0VBQ3BCLEtBQUssRUFBRSxLQUFnRCxHQUN2RDs7QUFFRCxBQUFBLGNBQWMsQ0FBQTtFQUNiLEtBQUssRUFsRWdCLE9BQU8sR0FtRTVCOztBQUVELEFBQUEsQ0FBQyxBQUFBLGNBQWMsQUFBQSxNQUFNLENBQUM7RUFDckIsS0FBSyxFQUFFLE9BQWlELEdBQ3hEOztBQUVELEFBQUEsYUFBYSxDQUFDO0VBQ2IsS0FBSyxFQXhFZ0IsT0FBTyxHQXlFNUI7O0FBR0QsQUFBQSxJQUFJLENBQUM7RUFDSixnQkFBZ0IsRUF0RkUsT0FBTztFQXVGekIsT0FBTyxFQUFFLE9BQU87RUFDaEIsS0FBSyxFQTNGWSxPQUFPO0VBNEZ4QixPQUFPLEVBQUUsSUFBSTtFQUNiLG1CQUFtQixFQUFFLHFDQUFxQztFQUMxRCxxQkFBcUIsRUFBRSxHQUFHO0VBQzFCLGtCQUFrQixFQUFFLGFBQWEsR0FDakM7O0FBRUQsQUFBQSxNQUFNLENBQUM7RUFDTixTQUFTLEVBQUUsTUFBTSxHQW9DakI7RUFyQ0QsQUFJQyxNQUpLLENBSUwsTUFBTSxDQUFDO0lBQ04sU0FBUyxFQUFFLEtBQUs7SUFDaEIsV0FBVyxFQUFFLFNBQVMsR0FjdEI7SUFwQkYsQUFRRSxNQVJJLENBSUwsTUFBTSxDQUlMLENBQUMsQ0FBQztNQUNELEtBQUssRUEzR1UsT0FBTyxHQTRHdEI7SUFWSCxBQVlFLE1BWkksQ0FJTCxNQUFNLENBUUwsRUFBRSxDQUFBO01BQ0QsU0FBUyxFQUFFLEtBQUs7TUFDaEIsV0FBVyxFQUFFLEdBQUcsR0FDaEI7SUFmSCxBQWlCRSxNQWpCSSxDQUlMLE1BQU0sQ0FhTCxNQUFNLENBQUE7TUFDTCxTQUFTLEVBQUMsS0FBSyxHQUNmO0VBbkJILEFBdUJDLE1BdkJLLENBMEJKLGFBQVMsQ0FBQztJQUVULE9BQU8sRUFBRSxJQUFJO0lBQ2IsZUFBZSxFQUFFLFVBQVU7SUFDM0IsS0FBSyxFQUFFLFdBQVcsR0FLbEI7SUFuQ0gsQUFnQ0csTUFoQ0csQ0EwQkosYUFBUyxDQU1SLEVBQUUsQ0FBQztNQUNGLE1BQU0sRUFBRSxLQUFLLEdBQ2I7O0FBS0osQUFBQSxRQUFRLENBQUM7RUFDUixTQUFTLEVBQUUsT0FBTyxHQUNsQjs7QUFFRCxBQUFBLFFBQVEsQ0FBQztFQUNSLFNBQVMsRUFBRSxPQUFPLEdBQ2xCOztBQUVELEFBQUEsTUFBTSxDQUFBO0VBQ0wsU0FBUyxFQUFFLE1BQU07RUFDakIsT0FBTyxFQUFFLElBQUk7RUFDYixlQUFlLEVBQUUsWUFBWTtFQUM3QixXQUFXLEVBQUUsTUFBTTtFQUNoQixVQUFVLEVBQUUsSUFBSSxHQVduQjtFQWhCRCxBQU9JLE1BUEUsQ0FPRixlQUFlLENBQUE7SUFDWCxNQUFNLEVBQUUsTUFBTSxHQUNqQjtFQVRMLEFBV0MsTUFYSyxDQVdMLEdBQUcsQ0FBQTtJQUNGLE1BQU0sRUFBRSxJQUFJO0lBQ1osY0FBYyxFQUFDLE1BQU0sR0FDckI7O0FDL0pGLEFBQUEsWUFBWSxDQUFBO0VBQ1IsZ0JBQWdCLEVBQUUsV0FBVztFQUNoQyxlQUFlLEVBQUUsSUFBSTtFQUNyQixLQUFLLEVERk8sT0FBTztFQ0doQixLQUFLLEVBQUUsU0FBUyxHQUtuQjtFQVRELEFBTUMsWUFOVyxBQU1YLE1BQU8sQ0FBQTtJQUNOLEtBQUssRURMWSxPQUFPLEdDTXhCOztBQUdGLEFBQUEsY0FBYyxDQUFDO0VBQ1gsZ0JBQWdCLEVEUFAsT0FBTztFQ1FoQixNQUFNLEVBQUUsR0FBRyxDQUFDLEtBQUssQ0RUSCxJQUFJO0VDVWxCLE1BQU0sRUFBRSxLQUFLO0VBQ2IsT0FBTyxFQUFFLEtBQUssR0FDakI7O0FBRUQsQUFBQSxZQUFZLENBQUM7RUFDVCxPQUFPLEVBQUUsQ0FBQztFQUNWLE1BQU0sRUFBRSxPQUFPO0VBQ2YsU0FBUyxFQUFFLEdBQUc7RUFDZCxNQUFNLEVBQUUsSUFBSTtFQUNaLE9BQU8sRUFBRSxNQUFNO0VBQ2YsZ0JBQWdCLEVBQUUsV0FBVztFQUM3QixlQUFlLEVBQUUsSUFBSTtFQUNyQixLQUFLLEVEekJJLE9BQU8sR0M4Qm5CO0VBYkQsQUFVSSxZQVZRLEFBVVIsTUFBTyxDQUFDO0lBQ0osS0FBSyxFRDNCTSxPQUFPLEdDNEJyQjs7QUFHTCxBQUNJLFdBRE8sQ0FDUCxFQUFFLENBQUM7RUFDQyxnQkFBZ0IsRUFBRSxPQUErQjtFQUNqRCxTQUFTLEVBQUUsS0FBSztFQUNoQixTQUFTLEVBQUUsS0FBSztFQUNoQixPQUFPLEVBQUUsTUFBTTtFQUNmLFVBQVUsRUFBRSxHQUFHLEdBQ2xCOztBQVBMLEFBU0ksV0FUTyxDQVNQLENBQUMsQ0FBQztFQUNFLFdBQVcsRUFBRSxNQUFNO0VBQ25CLFNBQVMsRUFBRSxLQUFLLEdBQ25COztBQUdMLEFBQUEsV0FBVyxDQUFDO0VBQ1IsS0FBSyxFQUFFLElBQUksR0FlZDtFQWhCRCxBQUlJLFdBSk8sQ0FJUCxFQUFFLENBQUM7SUFDQyxVQUFVLEVBQUUsSUFBSSxHQUNuQjtFQU5MLEFBUUksV0FSTyxDQVFQLEVBQUUsQ0FBQztJQUNDLE9BQU8sRUFBRSxPQUFPO0lBQ2hCLGdCQUFnQixFQUFFLE9BQStCLEdBQ3BEO0VBWEwsQUFhdUIsV0FiWixDQWFQLEVBQUUsQUFBQSxVQUFXLENBQUEsQUFBQSxJQUFJLEVBQUUsRUFBRSxDQUFDO0lBQ2xCLGdCQUFnQixFQUFFLE9BQStCLEdBQ3BEOztBQ2hFTCxBQUFBLGlCQUFpQixDQUFDO0VBQ2pCLEtBQUssRUFQbUIsT0FBTyxHQVEvQjs7QUFFRCxBQUFBLG1CQUFtQixDQUFDO0VBQ25CLEtBQUssRUFWc0IsT0FBTyxHQVdsQzs7QUFHRCxBQUFBLG1CQUFtQixDQUFDO0VBQ25CLEtBQUssRUFicUIsT0FBTyxHQWNqQzs7QUFFRCxBQUFBLG9CQUFvQixDQUFDO0VBQ3BCLEtBQUssRUFsQnNCLE9BQU8sR0FtQmxDOztBQUdELEFBQUEsbUJBQW1CLENBQUM7RUFDbkIsS0FBSyxFQXJCc0IsT0FBTyxHQXNCbEM7O0FBRUQsQUFBQSxVQUFVLENBQUM7RUFDVixNQUFNLEVBQUUsSUFBSSxHQUNaOztBQUVELEFBQUEsb0JBQW9CLENBQUM7RUFDcEIsUUFBUSxFQUFFLFFBQVE7RUFDbEIsT0FBTyxFQUFFLENBQUMsR0FDVjs7QUFFRCxBQUFBLGlCQUFpQjtBQUNqQixBQUFBLFVBQVUsQ0FBQztFQUNWLE9BQU8sRUFBRSxLQUFLO0VBQ2QsS0FBSyxFQUFFLEtBQUs7RUFDWixNQUFNLEVBQUUsS0FBSztFQUNiLE9BQU8sRUFBRSxDQUFDO0VBQ1YsTUFBTSxFQUFFLENBQUM7RUFDVCxXQUFXLEVBQUUsVUFBVTtFQUN2QixTQUFTLEVBQUUsSUFBSTtFQUNmLE1BQU0sRUFBRSxDQUFDLEdBQ1Q7O0FBRUQsQUFBQSxVQUFVLENBQUM7RUFDVixLQUFLLEVBQUUsV0FBVztFQUNsQixXQUFXLEVBQUUsS0FBSyxHQUNsQjs7QUFFRCxBQUFBLGlCQUFpQixDQUFDO0VBRWpCLFFBQVEsRUFBRSxRQUFRO0VBQ2xCLEdBQUcsRUFBRSxDQUFDO0VBQ04sSUFBSSxFQUFFLENBQUM7RUFDUCxnQkFBZ0IsRUFBRSxXQUFXO0VBQzdCLGNBQWMsRUFBRSxJQUFJO0VBQ3BCLFNBQVMsRUFBRSxVQUFVLEdBQ3JCOztBSHpERCxBQUdDLE9BSE0sQ0FHTixLQUFLLENBQUM7RUFDTCxLQUFLLEVBQUUsS0FBSyxHQUNaOztBQUxGLEFBT0MsT0FQTSxDQU9OLGlCQUFpQjtBQVBsQixBQVFDLE9BUk0sQ0FRTixVQUFVLENBQUM7RUFDVixLQUFLLEVBQUUsS0FBSyxHQUNaIgp9 */