






.link-button{
    background-color: transparent;
	text-decoration: none;
	color: $link-color;
    color: turquoise;

	&:hover{
		color: $hover-link-color;
	}
}

.status-notice {
    background-color: $dark-color;
    border: 1px solid $secondary-color;
    margin: 0.8em;
    padding: 0.7em;
}

.link-button {
    padding: 0;
    cursor: pointer;
    font-size: 1em;
    border: none;
    display: inline;
    background-color: transparent;
    text-decoration: none;
    color: $link-color;

    &:hover {
        color: $hover-link-color;
    }
}

.form-table {
    th {
        background-color: lighten($background-color, 10%);
        min-width: 100px;
        max-width: 200px;
        padding: 0 10px;
        text-align: end;
    }

    p {
        font-weight: normal;
        font-size: 0.9em;
    }
}

.list-table {
    width: 100%;


    th {
        text-align: left;
    }

    td {
        padding: 1px 4px;
        background-color: lighten($background-color, 10%);
    }

    tr:nth-child(even) td {
        background-color: lighten($background-color, 20%);
    }
}

#paginator {
    display: flex;
    margin: 20px;
    text-align: center;
    font-size: 0.9em;
    align-items: center;
    justify-content: center;

    li {
    }

    .page-button {
        min-width: 20px;
        padding: 2px 5px;
        margin: 0 4px;
        border: 1px solid $main-text-color;

        &:not(.disabled):hover {
            background-color: $button-hover-color;
            color: $main-text-color;
        }
    }

    .disabled {
        border: none;

        &:hover {
        }
    }

    .page-skip {
        margin: 0 6px;
    }

    .current-page {
        margin: 0 10px;
    }
}
