// %btn{
//     display: inline-block;
//     border-radius: 5px;
//     padding: 8px 20px;
//     margin: 3px;

//     &:hover{
//         transform: scale(.98);
//     }
// }

// .btn-primary{
//     @extend %btn;
//     @include set-background(lighten($primary-color, 10%));
// }

// .btn-secondary{
//     @extend %btn;
//     @include set-background($secondary-color);
// }

.nav-button{
    width: 100px;
    margin: 0 30px;
    padding: 3px;
    border-radius: 0;
    color: $main-text-color;
    background-color: transparent;
    border: 1px solid $main-text-color;

}

.nav-button:hover{
    background-color: $link-color;
    cursor: pointer;
}

.nav-button:active{
    background-color: darken($link-color, 30%);
}


.status-notice {
    background-color: $dark-color;
    border: 2px solid $secondary-color;
    margin: 1em;
    padding: 1em;
}
