
body{
    grid-template-areas: 
	"header header"
	"sidebar content"
	"footer footer";

	grid-template-columns: minmax(100px, 1fr) minmax(600px,4fr);
    grid-template-rows: auto 1fr auto;
}

.sidebar{
	grid-area: sidebar;
  //background-color: red;
	
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;

	margin-right: 40px;

	max-width: 500px;

	p{
		margin: 5px 0;
	}

	ul{
		margin: 5px 0;
	}

	&-section{
		margin: 10px 0;
	}


	.search-bar{
		width: 100%;
		max-width: 150px;
	}
	
	#tags{
		//background-color: crimson;
		line-height: normal;

		span{
			color:$secondary-color
		}
	}
	
}


#content{
	grid-area: content;
  //background-color: blue;

	
	#comments{
		//background-color: chartreuse;
		margin-bottom: 50px;

		&-post{
			display: flex;
			flex-direction: column;
			
			input{
				width: 150px;
			}

			textarea{

				width: 40%;
				height: 50px;
				padding: 0;
				
				font-size: 1.2em;
				//margin-bottom: 10px;
				margin: 0;
				
			}
			button{
				font-size: 1.1em;
				font-weight: bold;
				width: 80px;
				height: 30px;
				
			}
		}

		.comment{
			
			display: flex;
			flex-flow: row;
			justify-content: flex-start;
			

			margin-bottom: 30px;

			&-author{
				width: 200px;

				h4{
					font-size: 1.3em;
				}
				
			}

			&-content{
				width: 100%;
				max-width: 600px;
				
			}
		}
	}
  
}