@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
	font-family: Xenogears;
	src:url("/fonts/Xenogears.woff") format("woff");
}

$main-text-color: #ffffff;
$link-color: #f84848;
$hover-link-color: #ffcdcd;
$background-color: #272626;
$secondary-color: #aaa;
$dark-color: #121010;
$button-hover-color: #391184;

$normal-tag-color: $link-color;
$post-type-tag-color: #ffe96c;
$character-tag-color: #9bb359;
$location-tag-color: #ff3da4;
$not-found-tag-color: #adadad;
$tag-hover-lighten: 40%;

html{
	font-family:'Roboto', Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	height: 100%;
	margin: 0;
	 
}





ul {
	list-style-type: none;
	padding: 0;
}

h1, h2,h3,h4, h5{
	margin: 0;
	
}

.annotation {
	font-size: 0.9em;
	color: $secondary-color;
}

a, .link-button{
	text-decoration: none;
	color: $link-color;

	&:hover{
		color: $hover-link-color;
	}
}


.tag-Normal{
	color: $normal-tag-color;	
}

a.tag-Normal:hover {
	color: lighten($normal-tag-color, $tag-hover-lighten);
}

.tag-PostType {
	color: $post-type-tag-color;
}
a.tag-PostType:hover {
	color: lighten($post-type-tag-color, $tag-hover-lighten);
}

.tag-Location{
	color: $location-tag-color;
}

a.tag-Location:hover {
	color: lighten($location-tag-color, $tag-hover-lighten);
}

.tag-Character{
	color: $character-tag-color;
}

a.tag-Character:hover {
	color: lighten($character-tag-color, $tag-hover-lighten);
}

.tag-NotFound {
	color: $not-found-tag-color;
}

.no-entries{
	margin: 20px 0;
	text-align:center;
}

body {
	background-color: $background-color;
	padding: 1em 3em;
	color: $main-text-color;
	display: grid;
	grid-template-areas: "header" "notices" "content" "footer";
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
}

header {
	grid-area: header;
	//background-color: yellow;

	#title {
		font-size: 1.5em;
		font-family: Xenogears;

		a {
			color: $main-text-color;
		}

		h2{
			font-size: 1.3em;
			line-height: 0.5;
		}

		#alpha{
			font-size:1.3em;
		}
	}


	#menu {
		//background-color: rgb(194, 194, 7);

		&-options {
			//background-color: rgb(240, 240, 109);
			display: flex;
			justify-content: flex-start;
			width: max-content;

			li {
				margin: 0 5px;
			}
		}
	}
}

#notices {
	grid-area: notices;
}

#content {
	grid-area: content;
}

footer{
	grid-area: footer;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
    margin-top: 30px;

    .footer-section{
        margin: 0 10px;
    }

	img{
		height: 32px;
		vertical-align:middle;
	}
  //background-color: cyan;
}



