@import 'main';
@import 'buttons';


body {
    grid-template-areas:
        "header"
        "content"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    justify-items: center;
}

header{
    grid-area: header;
    margin-top: 100px;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        font-size: 3em;
        font-weight: bold;

        span{
            font-style: oblique;
        }
        
    }
}

main {
    grid-area: content;
    margin-bottom: 20px;
}

footer{
    width: 50%;
    min-width: fit-content;
    justify-content:space-around;
}