@import 'main';
@import 'classes';


body {
    grid-template-areas:
        "header"
        "content"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    justify-items: center;
    font-size: 1.5em;
}

header {
    grid-area: header;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    #title {
        text-align: center;
    }

    h1 {
        font-weight: bold;
        font-size: 3em;
    }

    h2 {
    }
}

main {
    grid-area: content;
    margin-bottom: 20px;
}

footer{
    
    
    justify-content:space-around;
}