@import 'main';
@import 'classes';


body {
	grid-template-areas: "header" "content" "footer";
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
}

#content {
	grid-area: content;
}


#pool-entries {
	display: flex;
	flex-wrap: wrap;

	.entry-preview {
		height: 150px;
		width: 200px;
		border: 1px solid $link-color;
		margin: 2px;
		background-color: $secondary-color;
	}
}