@import 'main';
@import 'classes';


#pool-entries {
	display: flex;
	flex-wrap: wrap;

	.entry-preview {
		object-fit: cover;
		height: 150px;
		width: 200px;
		border: 1px solid $link-color;
		margin: 2px;
		
	}
}