@import 'main';
//@import 'content_page';
@import 'classes';


body {
	grid-template-areas:
		"header" 
		"content" 
		"footer";
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
}

#content{
	grid-area: content;
}

#upload {
	

	input {
		width: 300px;
		
	}

	textarea {
		width: 500px;
	}
}

