@import 'main';
@import 'post_view';
@import 'classes';

$pending-color: #7e7e7e;
$liked-color: #ffd800;
$select-color: #d0423f;
$highlight-color: #cd459b;
$thumbnail-border-thickness: 3px;

#posts {
    display: flex;
    flex-wrap: wrap;

    img {
        
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .post-preview {
        margin: 4px;
        height: 150px;
        width: 150px;
        box-sizing: border-box;

        &:focus,
        &:hover {
            border: $thumbnail-border-thickness solid $select-color;

            img {
                border: none;
            }
        }
    }
}

.highlighted-post {
    border: $thumbnail-border-thickness solid $select-color;

    img {
        border: none;
    }
}

.liked {
    border: $thumbnail-border-thickness solid $liked-color;
}

.pending {
    filter: grayscale(90%) opacity(50%);
}



#paginator {
    display: flex;
    margin: 20px;
    text-align: center;
    font-size: 0.9em;
    align-items: center;
    justify-content: center;

    li {
    }

    .page-button {
        min-width: 20px;
        padding: 2px 5px;
        margin: 0 4px;
        border: 1px solid $main-text-color;

        &:not(.disabled):hover {
            background-color: $button-hover-color;
            color: $main-text-color;
        }
    }

    .disabled {
        border: none;
        &:hover{
            
        }
    }

    .page-skip {
        margin: 0 6px;
    }

    .current-page {
        margin: 0 10px;
    }
}

//.nav-button {
//    display: block;
//    width: max-content;
//    min-width: 20px;
//    margin: 0 5px;
//    padding: 3px;
//    border-radius: 0;
//    color: $main-text-color;
//    background-color: transparent;
//    border: 1px solid $main-text-color;
//}

//.nav-button:hover {
//    background-color: $link-color;
//    cursor: pointer;
//}

//.nav-button:active {
//    background-color: darken($link-color, 30%);
//}

