@import 'main';
@import 'post_view';
@import 'classes';
@import 'tag_highlight';



#map-navigator {
	display: flex;
	justify-content: center;
	padding: 10px;

	input {
		width: 40px;
		text-align: center;
	}
}

#render {
	//background-color: green;
	height: 600px;
	border-style: dashed;
	margin-bottom: 20px;
	position: relative;

	&-controls {
		position: absolute;
		right: 10px;
		top: 10px;
		border: 3px solid $background-color;
		padding: 10px 15px;
		color: $background-color;
		background-color: $main-text-color;
		min-width: 200px;

		span {
			color: $secondary-color;
			font-size: 0.9em;
		}

		input:checked {
			background: red;
		}

		ul {
			margin: 0;
		}

		li {
			display: flex;
			justify-content: space-between;
		}
	}
}

#post-artwork {
	max-height: 700px;
}


#post-music {
	width: 50%;
	min-width: 500px;
	max-width: 1000px;
	margin: 50px 0;
}



#edit-comment-switch{
	margin: 10px 0;
	
}



#edit {
	th {
		background-color: lighten($background-color, 10%);
		min-width: 100px;
		max-width: 200px;
		padding: 0 10px;
		text-align: end;
	}

	p {
		font-weight: normal;
		font-size: 0.9em;
	}
	//input {
	//	width: 300px;
	//}
	//textarea {
	//	width: 500px;
	//}
}