@import 'main';
@import 'content_page';
@import 'classes';


#posts {
	display: flex;
	flex-wrap: wrap;

	.post-preview {
		box-sizing: border-box;
		height: 150px;
		width: 150px;
		object-fit: cover;
		margin: 4px;
		background-color: $secondary-color;

		&:hover {
			border: 3px solid $link-color;
		}
	}
}



#paginator{
    display: flex;
    
    justify-content: center;
    margin: 20px;
    text-align: center;

    .nav-button{
        margin: 0 5px;
    }
}

