@import 'main';
@import 'classes';

body {
	grid-template-areas: "header" "content" "footer";
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
}

#content {
	grid-area: content;
}

table {
	width: 100%;

	#posts-col{
		width: 60px;
	}

	#name-col{

	}

	#type-col{
		width: 200px;
	}

	th {
		text-align: left;
	}

	td {
		padding: 1px 4px;
		background-color: lighten($background-color, 10%);
	}

	tr:nth-child(even) td {
		background-color: lighten($background-color, 20%);
	}
}
