@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
	font-family: Xenogears;
	src: url("/StaticSite/fonts/Xenogears.woff") format("woff");
}

$main-text-color: #ffffff;
$link-color: #f84848;
$hover-link-color: #ffcdcd;
$background-color: #272626;
$secondary-color: #aaa;
$dark-color: #201f1f;

$normal-tag-color: $link-color;
$post-type-tag-color: #ffe96c;
$character-tag-color: #9bb359;
$location-tag-color: #ff3da4;
$tag-hover-lighten: 40%;

html{
	font-family:'Roboto', Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	height: 100%;
	margin: 0;
	 
}

body {
    background-color: $background-color;
	display: grid;
	
	
	padding: 1em 3em;

	color: $main-text-color;
	
}
ul {
	list-style-type: none;
	padding: 0;
}

h1, h2,h3,h4, h5{
	margin: 0;
	
}

a, .link-button{
	text-decoration: none;
	color: $link-color;

	&:hover{
		color: $hover-link-color;
	}
}


.tag-Normal {
	color: $normal-tag-color;
	&:hover {
		color: lighten($normal-tag-color, $tag-hover-lighten);
	}
}
.tag-PostType {
	color: $post-type-tag-color;
	&:hover {
		color: lighten($post-type-tag-color, $tag-hover-lighten);
	}
}
.tag-Location {
	color: $location-tag-color;
	&:hover {
		color: lighten($location-tag-color, $tag-hover-lighten);
	}
}

.tag-Character {
	color: $character-tag-color;
	&:hover {
		color: lighten($character-tag-color, $tag-hover-lighten);
	}
}


header{
	grid-area: header;
	//background-color: yellow;

	#title {
		font-size: 1.5em;
		font-family: Xenogears;

		a{
			color: $main-text-color;
		}
		
	
	}


	#menu{
		//background-color: rgb(194, 194, 7);

		&-options{
			//background-color: rgb(240, 240, 109);
			display: flex;
			justify-content: flex-start;
			width: max-content;

			li{
				margin: 0 5px;
			}
	
		}	
	}

}


footer{
	grid-area: footer;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
    margin: 10px;

    .footer-section{
        margin: 0 10px;
    }
  //background-color: cyan;
}



