@import 'main';
@import 'content_page';
@import 'classes';


#posts{

    display: flex;
    flex-wrap: wrap;

    .post-preview{
        height: 150px;
        width: 150px;
        border: 1px solid $link-color;
        margin: 2px;
        background-color: $secondary-color;
    }
}



#paginator{
    display: flex;
    
    justify-content: center;
    margin: 20px;
    text-align: center;

    .nav-button{
        width: fit-content;
        margin: 0 5px;
    }
}

