@import 'main';
//@import 'content_page';
@import 'classes';


body {
	grid-template-areas:
		"header" 
		"content" 
		"footer";
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
}

#content{
	grid-area: content;
}

#upload {
	th {
		background-color: lighten($background-color, 10%);
		min-width: 100px;
		max-width: 200px;
		padding: 0 10px;
		text-align: end;
	}

	p {
		font-weight: normal;
		font-size: 0.9em;
	}

	input {
		width: 300px;
		
	}

	textarea {
		width: 500px;
	}
}

