@{
	ViewData["Title"] = "About";
}


@section Stylesheets{
	<link rel="stylesheet" href="~/css/about.css" />
}

<article>
	<h1 id="xenogears-map-viewer">So what is this page actually about?</h1>
	<strong>Short backstory of Xenogears Map Viewer AKA XenoBooru alpha</strong>
	<p>
		It all started  when I get my hands on technology from a long forgotten ancient civilization (that is Qhimm.com forums circa 2010), that allowed my to rip all of the Xenogears map 3D models.
		After some troubleshooting and writing scripts automating the process, I managed to extract and convert them to format understandable by all modern 3D software.
	</p>
	<p>
		I was very excited at the possibility to see every nook and cranny of those maps, and I figured there have to be more people that feel the same way.
		And I don&#39;t want this chance to be locked away behind having to dig through over 10yo forum threads and basic programming and 3D software knowledge.
		So for that reason (and also as learning experience, being freshman IT student and aspiring webdev) I decided to create Xenogears Map Viewer website.
		I wanted something simple, so as a template I choose to copy layouts of popular -BOORU sites (primarily sakugabooru).
	</p>
	<p><strong>And then it struck me!</strong></p>
	<p>
		What if I were to create XenoBooru? A website aggregating every piece of in-game assets, official art and so on. It would be awsome, right?!
		Obviously it&#39;s a huge undertaking, so I&#39;ll be taking it in steps.
	</p>
	<h2 id="roadmap">Roadmap</h2>
	<ol>
		<li>Make Map Viewer website functional. With basic booru functionalities like comments (now without accounts) and tags (f.e location, in-doors, town, etc. )</li>
		<li>Search the internet in search for tools to extract more assets from the game and add it to the website. For now Gears 3D models seem to be most likely to be possible.</li>
		<li>Ask people who  ripped assets and put them on the internet for permission to put them on the website (with proper credit ofc). Well, right now by people I mean Rufaswan who successfully extracted the sprites.</li>
		<li>When the available in-game assets will be here, add all the official art in the highest findable quality</li>
		<li>Now that the site finally will deserve &quot;booru&quot; title - expand it&#39;s functionality, that is accounts, rankings, scoring, stuff like that</li>
		<li>Right now, I don&#39;t have remotely the skill or the knowledge to try ripping the assets myself, but I&#39;d like to learn that and add to the website  some pieces I persoanlly dug up.</li>
	</ol>

	<p>
		For any questions, suggestions or bug reports you can DM me on <a href="https://twitter.com/turtle_guy_" target="_blank">Twitter</a>,
		or Discord at Paraon#1585, or send an email to motmen001@gmail.com
	</p>

	<h2>Technical info</h2>
	<p>
		As of now the maps are not perfectly complete. The two main problems are the lack of transparency in textures and vertex colors.
		That means the texures with partial transparency, like trees, chairs etc. look weird, as the transparent part is replaced with random(?) pixels.
		And some objects that used vector colors and were all semi-transparent are just black. The easiest way to see that is Shevat's energy barier.
		The needed data is loaded correctly into xenogears map viewer created by Micky but then the function exporting the model isn't (by his own admition) complete.<br />
		I was trying to dig into it myself, but couldn't figure out how to export this data. If anyone reading this is more knowledgble in this topic and would like to help, 
		I would be thankfull for getting in contact.
		<br /><br />
		For now, if you realy want to explore the map I would reccomend downloading the file and opening it in 3D software (like the free <a href="https://www.blender.org/download/" target="_blank">Blender</a>), 
		to be able to move freely and delete fragments of geometry that block the view.
		Also the ability to focus on particular mesh is very helpful with exploring the bigger maps.
		<br /><br />
		As a note, the wireframe option in online model viewer doesn't show the real map geometry. That is because in order to convert the mesh to the format suitable for display in the browser, 
		it had to be triangulated and geometry ripped apart on some edges. That's why in download link I offer the original zipped files, with separate texture files.
	</p>

	<h2>Credits</h2>
	<p>
		Of course the main credit goes to all the talented designers, modelers and artists at Square circa 1998 who created all of those maps from scratch.
		Through this project I started to respect all of the hard work put into hundreds of models and thausands of textures that were needed to bring Xenogears to life.
	</p>
	<p>
		Xenogears font used in a header created by Biffe Holitter, you can find it <a href="https://www.dafont.com/-xenogears.font">here</a>.
	</p>
	<p>
		This website couldn't have been made without those people:
		<ul>
			<li>
				<a href="https://forums.qhimm.com/index.php?PHPSESSID=nv408n43ksvhirnmljdr1kkf14&action=profile;u=980" target="_blank">Micky</a>
				- who created xenogears map viewer and model exporter, that was the backbone of this project.
			</li>
			<li>
				<a href="https://github.com/Akari1982" target="_blank">Akari</a>
				- who was resposible for tool to extract xenogears ISO to folders, and made huge contributions to Final Fantasy and Xenogears modding in general.
			</li>
			<li>
				<a href="https://twitter.com/prozacchiwawa" target="_blank">Prozacchiwa</a>
				- who introduced me to those resources and the idea that it was even possible to do such a thing.
			</li>
		</ul>

		<em>I only took the final step</em>

	</p>


</article>


