@model DownloadsViewModel
@{
	ViewData["Title"] = "Download Resources";
}


@section Stylesheets{
	<link rel="stylesheet" href="~/css/about.css" />
}


<article>
	<h1>Download Resources</h1>
	
	<p>
		<h2>All Maps</h2>
		<h4>Downloaded: @Model.Downloads["AllMaps"]</h4>
		<a href="@Model.Urls["AllMaps"]" download class="download-link" id="AllMaps" >DOWNLOAD</a> <br />
		All extracted map files in COLLADA format, with textures in TIFF format in separate files.
		Import the file with your 3D software and everything should load properly. Tested with Blender. 

	</p>
	<p>
		<h2>Map Viewer Desktop Appliaction</h2>
		<h4>Downloaded: @Model.Downloads["MapViewer"]</h4>
		<a href="@Model.Urls["MapViewer"]" download class="download-link" id="MapViewer" >DOWNLOAD</a> <br />
		<a href="https://github.com/Quattro-Bajeena/xenogears-map-viewer" target="_blank">SOURCE CODE</a> <br />
		More information about it <a asp-action="MapViewerApp">here</a>.
	</p>

</article>

@section Scripts{
	<script src="~/js/file_downloads.js" type="module"></script>
}


