@{
	ViewData["Title"] = "Main";
}


@section Stylesheets{
	<link rel="stylesheet" href="~/css/index.css" />
}

<form>
	<input class="search-bar" type="text" name="search">
	<button>Search</button>
</form>



