@{
	ViewData["Title"] = "Xenogears Map Viewer";
}

@section Stylesheets{
	<link rel="stylesheet" href="~/css/index.css" />
}

<form id="search" asp-controller="Post" asp-action="Index" method="get">
	<input class="search-bar" type="text" name="tags" autocomplete="off">
	<button>Search</button>
</form>


<div id="featured">
	<h3>Check out gears, vehicles and creatures <a asp-controller="Post" uiactions="Index" asp-route-tags="scene_model"> 3D models</a></h3>
</div>

<div>
	Download <a asp-action="MapViewerApp">Desktop Map Viewer app</a> to experience the models in their full quality
</div>

@section Scripts{ 
    @*<script>
        let get_tags_url = "@Url.Action("GetAll", "Tag")";
    </script>
	<script src="~/js/quick_search.js" type="module"></script>*@
}





