@{
	ViewData["Title"] = "Main";
}


@section Stylesheets{
	<link rel="stylesheet" href="~/css/index.css" />
}

<form>
	<input class="search-bar" type="text" name="search">
	<button>Search</button>
</form>

<div id="featured">
	<h3>Check out the most interesting and coolest maps in the <a asp-controller="Pool" asp-action="Show" asp-route-id="1">featured pool</a></h3>
</div>






